@model IEnumerable<DomainModel.Entities.Task>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "new", new { }, new { id = "addTaskLink" })
</p>
<ul>
@foreach (var item in Model) {
    <li>
        @Html.DisplayFor(modelItem => item.Description) | @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </li>
}
</ul>

@using (@Html.BeginForm("index", "timer"))
{
    <input type="submit" value="Start Timer" id="startTimer" />
}
